a, a:focus, a:hover {
  color: #fec503;
}
#header {
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/portfolio/airbnb/airbnbViz1.png');
}
footer span.copyright {
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
footer {
  background-color: #666;
  width: 100%;
  bottom: 0px;
  z-index: 99;
  padding: 15px 0;
  text-align: center;
}
.footer-mobile{
  position: default;
}
.footer-web{
  display: block;
  width: 100%;
  /*position: fixed;*/
}
