body {
  background-color: #ffffff;
}
.bg-light-gray{
  background-color: #eeeeee;
}
.container-fluid{
  background-color: #eeeeee;
}
footer {
  background-color: #eeeeee;
  position: fixed;
  width: 100%;
  bottom: 0px;
  z-index: 99;
}
.text-left{
  text-align: left;
}
header {
  margin-top: 54px;
  padding: 30% 0% 20% 0%;
}
header .header-content .header-content-inner p{
  color:rgb(51,51,51);
}
header .header-content {
  padding:0 0;
  color:#9b80ff;
  text-transform: none;
}

.navbar-default .navbar-header .navbar-brand{
  color:rgb(51,51,51);
}
.navbar-default.affix .navbar-header .navbar-brand:focus, .navbar-default.affix .navbar-header .navbar-brand:hover{
  color:rgb(51,51,51);
}
.navbar-default .nav>li>a, .navbar-default .nav>li>a {
  color:rgb(51,51,51)
}
.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  border: none;
  border-radius: 300px;
  font-weight: 700;
  text-transform: none;
}
.btn-xl {
  padding: 15px 30px;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
  background-color: #fec503;
}

.text{
  /*text-align: left;*/
  margin-top: 15%;
  margin-left: 0%;
  margin-right:0%;
}
footer span.copyright {
  line-height: 40 px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}

@media (min-width: 768px) {
  header {
    min-height: auto;
    height: 80%;
    position: inherit;
    top: auto;
    padding: 0;
  }
}
